<footer class="footer" id="contacts">
	<div class="container">
		<div class="footer__inner">
			<div class="footer__phone"> Тел: <a class="footer__link" href="tel:79313365397"> +7 (931) 336-53-97</a>
			</div>
			<ul class="footer__social social__list">
				<li class="social__item">
					<a class="social__link" href="#" target="_blank">
						<img class="social__icon" src="img/telegram.svg" alt="" title="telegram" width="30" height="30">
					</a>
				</li>
				<li class="social__item">
					<a class="social__link" href="#" target="_blank">
						<img class="social__icon" src="img/instagram.svg" alt="" title="instagram" width="30" height="30">
					</a>
				</li>
				<li class="social__item">
					<a class="social__link" href="#" target="_blank">
						<img class="social__icon" src="img/whatsapp.svg" alt="" title="whatsapp" width="30" height="30">
					</a>
				</li>
				<li class="social__item">
					<a class="social__link" href="#" target="_blank">
						<img class="social__icon" src="img/github.svg" alt="" title="github" width="30" height="30">
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>