html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
	position: relative;
}


ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: inherit;
}

ul,
li,
ol{
	list-style: none;
}

button:focus,
input:focus {
	outline: transparent;
}

.flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.--just-space {
	justify-content: space-between;
}

.--just-end {
	justify-content: flex-end;
}

.--align-str {
	align-items: stretch;
}

.--align-center {
	align-items: center;
}

.--align-end {
	align-items: flex-end;
}

.container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}

// push footer to the bottom of page
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

body{
	background-image: url('../img/sitebg.jpg');
	background-size: cover;
	width: 100%;
	height: 100%;
	color: #fff;
}